@font-face {
	font-family: nsr;
	font-weight: 300;
	src: url("../public/fonts/NanumSquareRoundL.ttf");
}
@font-face {
	font-family: nsr;
	font-weight: 400;
	src: url("../public/fonts/NanumSquareRoundR.ttf");
}
@font-face {
	font-family: nsr;
	font-weight: 700;
	src: url("../public/fonts/NanumSquareRoundB.ttf");
}
@font-face {
	font-family: nsr;
	font-weight: 900;
	src: url("../public/fonts/NanumSquareRoundEB.ttf");
}
:root {
	font-size: 10px;
	font-family: nsr;
	--point-color-a: #4728ff;
	--point-color-b: #e2622c;
	--point-color-b: #ff2788;
	--background-color-a: #9582ff;
	--background-color-b: #ff7db8;
	--normal-font-color: #121212;
}
@media screen and (max-width: 1200px) {
	:root {	
		font-size: calc(100vw / 120);
	}
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
}
body {
	position: relative;
	background: url("../public/images/background.png");
	background: linear-gradient(-45deg, var(--background-color-a), var(--background-color-b));
	background: linear-gradient(-45deg, var(--point-color-a), var(--point-color-b));
}
body::after {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .75);
	background-color: rgba(0, 0, 0, .45);
	z-index: -1;
}
img {
	vertical-align: middle;
}
textarea:disabled,
input:disabled {
	background-color: rgba(255, 255, 255, .6);
}
textarea:disabled::placeholder,
input:disabled::placeholder {
	color: #777;
}
button,
input,
textarea {
	padding: 0 1.5rem;
	color: #fff;
	font-size: 2.2rem;
	font-weight: 900;
	font-family: nsr;
	border: .3rem solid #fff;
	background-color: rgba(255, 255, 255, .25);
	border-radius: 2.5rem;
	box-sizing: border-box;
	vertical-align: middle;
	outline: none;
}
input::placeholder,
textarea::placeholder {
	color: #7c7c7c;
	font-weight: 700;
}
button,
input.button {
	color: #232323;
	border: .3rem solid #232323;
	background-color: rgba(255, 255, 255, 1);
}
button:active,
input.button:active{
	background-color: rgba(211, 211, 211, 1);
}
textarea {
	resize: none;
}
@keyframes inputError {
	0% {
		transform: translateX(0px);
	}
	12% {
		transform: translateX(2px);
	}
	25% {
		transform: translateX(0px);
	}
	37% {
		transform: translateX(-2px);
	}
	50% {
		transform: translateX(0px);
	}
	62% {
		transform: translateX(2px);
	}
	75% {
		border-color: #cc3333;
		transform: translateX(0px);
	}
	87% {
		transform: translateX(-2px);
	}
	100% {
		transform: translateX(0px);
		border-color: #cc3333;
	}
}